<h1> <%= @cocktail.name %></h1>
<h3>Ingredients:</h3>
<% @cocktail.doses.each do |thing| %>
<p> <%= thing.description %> <%= thing.ingredient.name %> </p>
<% end %>


<%= link_to "add a dose", new_cocktail_dose_path(@cocktail) %>


<%= link_to "go back to all cocktails", cocktails_path %>
