<div class="cocktail">
  <div class="cocktail_name">
    <h1> <%= @cocktail.name %></h1>
  </div>

  <div class="ingredients">
  <h3>Ingredients:</h3>
    <% @cocktail.doses.each do |dose| %>
      <ul>
      <li> <%= dose.description %> | <%= dose.ingredient.name %> <%= link_to "ðŸ—‘ï¸", dose_path(dose), method: :delete, data: { confirm: "are you sure mate?"} %></li>
      </ul>
    <% end %>
  <%= link_to "âž• add ingredient", new_cocktail_dose_path(@cocktail) %>
  </div>

  <div>
  <%= link_to "â¬…ï¸ All cocktails", cocktails_path, class: "btn btn-warning" %>
  </div>
</div>
